* {
    margin: 0px;
    padding: 0px;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 150px;
}

.logo img {
    width: 20%;
    border: 2px solid rgb(139, 17, 17);
    border-radius: 500px;
}

.hambergermenu {
    width: 35px;
    height: 20px;
    margin: 30px 0 20px -450px;
    cursor: pointer;
    z-index: 100;
}

.bar {
    height: 5px;
    width: 100%;
    padding: -18px -40px;
    background-color: wheat;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.icon .bar {
    background-color: #fff;
}

.icon #bar1 {
    transform: translateY(4px) rotate(-45deg);
}

.icon #bar3 {
    transform: translateY(-6px) rotate(-45deg);
}

.icon #bar2 {
    opacity: 0;
}

.change {
    background-color: blueviolet;
    height: 100vh;
    margin: 0;
    font-size: 30px;
    position: absolute;
    top: 0;
    z-index: -100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    background-color: rgb(139, 17, 17);
    top: 0px;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 2;
    margin-left: -250px;
    padding: 0;
    transition: 1s ease;
}

.nav-list {
    width: 50%;
    /* background color:rgb(139, 17, 17); */
    display: none;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 10px 18px;
    cursor: pointer;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    text-decoration: none;
    color: gray;
    text-decoration: underline;
}

.right-nav {
    /* background-color: blueviolet; */
    width: 50%;
    text-align: right;
}

#search {
    padding: 5px 100px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background {
    background: rgb(139, 17, 17) url("img/bg.jpeg");
    background-size: cover;
    background-blend-mode: darken;
}

.searchlogo img {
    width: 32px;
    margin: -11px -2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.service-item img {
    padding-top: 200px;
    width: 20%;
}

.slidershow {
    padding: 2px;
    width: 700px;
    height: 400px;
    overflow: hidden;
    box-shadow: 1px 1px 40px 3px red;
}

.top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnavigation {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    opacity: 0.8;
}

.cbar {
    width: 5px;
    height: 5px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    transition: 1.5s;
    animation: autoplay;
}

.cbar:hover {
    background: #fff;
}

.cbar:active {
    background: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.imgslides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 2s;
    animation: topslider 10s linear 0.2 infinite left;
}

@keyframes topslider {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(0px);
    }
    40% {
        transform: translateX(200px);
    }
    60% {
        transform: translateX(200px);
    }
    80% {
        transform: translateX(400px);
    }
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -20%;
}

#r3:checked~.s1 {
    margin-left: -40%;
}

#r4:checked~.s1 {
    margin-left: -60%;
}

#r5:checked~.s1 {
    margin-left: -80%;
}

.category {
    background-color: rgb(221, 253, 253);
    margin: 300px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.categorycontainer {
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    opacity: 0.8;
}

.categorycontainer .servicebox {
    position: relative;
    width: 150px;
    height: 110px;
    background: rgb(233, 233, 125);
    border-radius: 20px;
    overflow: hidden;
}

.categorycontainer .servicebox .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(221, 209, 209);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorycontainer .servicebox:hover .icon {
    top: 12px;
    width: 80px;
    left: 22%;
    right: 30%;
    height: 80px;
    border-radius: 50%;
}

.icon img {
    width: 60px;
    height: 60px;
    top: 20%;
}

.categorycontainer .servicebox .icon img {
    font-size: 2em;
    color: white;
    transition: 0.5s
}

.categorycontainer .servicebox:hover .icon img {
    font-size: 0.5em;
}

.categorycontainer .servicebox .content {
    position: relative;
    padding: 20px;
    text-align: center;
    margin-top: 70px;
}

.location img {
    padding-left: 9px;
    width: 22px;
}

.location {
    width: 100%;
    height: 25px;
    padding-top: 0px;
    display: flex;
    color: #fff;
    background: black;
    position: fixed;
    top: 47px;
    font-size: 14px;
    padding-bottom: 0;
    cursor: pointer;
    z-index: -1;
    margin-top: 15px;
    margin-bottom: -2px;
}

.location p {
    padding-left: 15px;
}

.covid-display {
    display: inline;
}

.covid-section .covid-display {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    justify-items: center;
    margin: -400px 280px;
    background-color: blanchedalmond;
    padding: 18px;
    z-index: 0;
    box-sizing: border-box;
}

.only-mobile-view {
    display: block;
}

.covid-section .covid-display .covid-item {
    font-size: 10px;
    width: 100px;
}

.covid-section .covid-display .covid-item p {
    font-size: 11px;
    text-align: center;
    justify-content: center;
}

.covid-item img {
    width: 100px;
    height: 70px;
    margin: 2px 2px;
}

.covid-section .covid-display .covid-item:hover {
    font-size: 12px;
    width: 80px;
    cursor: pointer;
    transition: 0.3s;
}

@media only screen and (max-width:1000px) {
    .change {
        width: 40%;
    }
}

@media only screen and (max-width:500px) {
    .change {
        width: 100%;
    }
}