        @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            margin: 0;
            padding: 0;
            font-family: 'Fira Sans', sans-serif;
            background-color: gray;
            align-items: center;
            justify-content: center;
        }
        
        .data {
            display: none;
        }
        
        .g-signin2 {
            position: absolute;
            top: 95%;
            left: 40%;
            justify-content: center;
            align-items: center;
            margin-top: -50px;
            margin-left: -50px;
        }
        
        div .usericon {
            margin: -4px 2px;
            padding: 2px 150px;
        }
        
        .usericon img {
            width: 55px;
            height: 60px;
            align-items: center;
            justify-content: center;
        }
        
        .signup-form {
            width: 360px;
            height: 610px;
            background-color: rgb(255, 255, 255);
            border-radius: 20px;
            margin: auto;
            padding: 4px;
        }
        
        .login-box {
            width: 360px;
            height: 330px;
            margin: auto;
            border-radius: 20px;
            background-color: white;
        }
        
        h1 {
            text-align: center;
            padding-top: 5px;
        }
        
        h4 {
            text-align: center;
        }
        
        form {
            width: 300px;
            margin-left: 20px;
        }
        
        form label {
            display: flex;
            margin-top: 20px;
            font-size: 18px;
        }
        
        form input {
            width: 100%;
            padding: 7px;
            border: none;
            border: 1px solid grey;
            border-radius: 6px;
            outline: none;
        }
        
        input[type="button"] {
            width: 320px;
            height: 35px;
            margin-top: 20px;
            border: none;
            background-color: rgb(224, 94, 94);
            color: white;
            font-size: 18px;
            cursor: pointer;
        }
        
        input[type="button"]:hover {
            background-color: rgb(67, 163, 67);
        }
        
        .select {
            display: flex;
        }
        
        p {
            justify-content: center;
            text-align: center;
            margin-top: 20px;
            font-size: 15px;
        }
        
        .para-2 {
            text-align: center;
            color: white;
            font-size: 15px;
            margin: auto;
        }
        
        .para-2 a {
            color: blue;
            font-size: 20px;
        }
        
        @media (max-width:350px) and (min-width:280px) {
            .signup-form {
                box-shadow: grey;
                width: 360px;
                height: 580px;
                background-color: #fff;
                border-radius: 3px;
                margin: auto;
                padding: 15px;
            }
        }
        
        @media (max-width:280px) and (min-width:250px) {
            .para-2 a {
                color: blue;
                font-size: 19px;
            }
        }